# Environment
NODE_ENV=development

# Server
PORT=3000
SERVER_BASE_URL=https://stagistic.local.dvdev.cz
CLIENT_BASE_URL=https://stagistic.local.dvdev.cz

# Database
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=stagistic
POSTGRES_PASSWORD=stagistic_password
POSTGRES_DB=stagistic

# Auth
AUTH_MAGIC_LINK_SECRET=jalapeno
JWT_ACCESS_TOKEN_SECRET=jalapeno
JWT_REFRESH_TOKEN_SECRET=chipotle
SESSION_SECRET=habanero

# Email (Postmark)
POSTMARK_API_KEY=
POSTMARK_FROM_EMAIL=hello@dvdev.cz

# Storage (S3)
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_S3_BUCKET_TEMP_STORAGE=
