.action {
    padding-top: var(--action-spacing-before, 0);
    padding-right: var(--action-indent-right, 0);
    padding-left: var(--action-indent-left, 0);
    font-weight: var(--action-font-weight, 400);
    font-style: var(--action-font-style, normal);
    line-height: var(--action-line-height, inherit);
    color: var(--color-block-action);
    text-align: var(--action-align, left);
    text-decoration-line: var(--action-underline, none);
    text-transform: var(--action-casing, none);
}
