.wrapper {
    height: 100vh;
    background-size: cover;
}

.form {
    max-width: 450px;
    height: 100vh;
    padding: 30px;
    padding-top: 80px;
    border-right: 1px solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-7));
    border-radius: 0;
}
