.action {
    padding-top: var(--action-spacing-before, 0);
    padding-right: var(--action-indent-right, 0);
    padding-left: var(--action-indent-left, 0);
    line-height: var(--action-line-height, inherit);
    color: #1b1b1b;
}
