.note {
    position: relative;
    padding-top: var(--note-spacing-before, 0);
    padding-right: var(--note-indent-right, 0);
    padding-left: calc(var(--note-indent-left, 0px) + 2ch);
    font-weight: var(--note-font-weight, 400);
    font-style: var(--note-font-style, italic);
    line-height: var(--note-line-height, inherit);
    color: var(--color-block-note, var(--color-block-stage-direction));
    text-align: var(--note-align, left);
    text-decoration-line: var(--note-underline, none);
    text-transform: var(--note-casing, none);

    &:has(> :global(.ProseMirror-trailingBreak:only-child))::after {
        position: absolute;
        top: var(--note-spacing-before, 0);
        left: calc(var(--note-indent-left, 0px) + 2ch);
    }

    &:has(> :global(.node-musicOut + .ProseMirror-separator + .ProseMirror-trailingBreak))::after {
        content: none;
    }

    &::before,
    &::after {
        pointer-events: none;
        user-select: none;
        color: inherit;
    }

    &::before {
        content: '[[';
        position: absolute;
        left: var(--note-indent-left, 0);
    }

    &::after {
        content: ']]';
    }

    & > :global(.node-musicOut)::after {
        pointer-events: none;
        content: ']]';
        user-select: none;
        color: inherit;
    }

    & > :global(.ProseMirror-trailingBreak:only-child) {
        pointer-events: none;
        position: absolute;
        overflow: hidden;
        width: 0;
        height: 0;
    }
}
