.root {
    --control-trigger-border-color: var(--color-border);
    --control-trigger-bg: var(--color-input-bg, var(--color-surface));
}

.md {
    --control-trigger-height: var(--control-height-md);
}

.lg {
    --control-trigger-height: var(--control-height-lg);
}
