.overlay {
    position: fixed;
    z-index: 20;
    inset: 0;
    overflow: auto;
    padding: var(--space-5xl);
    background: var(--color-bg);
}

.panel {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    width: min(520px, 90vw);

    & > div > [role = 'progressbar'] {
        transform: translateY(-50%);
    }
}

.scrim {
    background: color-mix(in oklch, var(--color-bg) 56%, transparent);
    backdrop-filter: blur(2px);
}
