.section {
    padding-top: var(--section-spacing-before, 0);
    padding-right: var(--section-indent-right, 0);
    padding-left: var(--section-indent-left, 0);
    font-weight: var(--section-font-weight, 700);
    font-style: var(--section-font-style, normal);
    line-height: var(--section-line-height, inherit);
    color: var(--color-block-scene-heading);
    text-align: var(--section-align, left);
    text-decoration-line: var(--section-underline, none);
    text-transform: var(--section-casing, uppercase);
    letter-spacing: var(--letter-spacing-sm);
}
