.scene {
    padding-top: var(--scene-heading-spacing-before, 0);
    padding-right: var(--scene-heading-indent-right, 0);
    padding-left: var(--scene-heading-indent-left, 0);
    font-weight: var(--scene-heading-font-weight, 700);
    font-style: var(--scene-heading-font-style, normal);
    line-height: var(--scene-heading-line-height, inherit);
    color: var(--color-block-scene-heading);
    text-align: var(--scene-heading-align, left);
    text-decoration-line: var(--scene-heading-underline, none);
    text-transform: var(--scene-heading-casing, uppercase);
}
