.transition {
  display: block;
  margin: var(--transition-gap, 1.8em) 0;
  text-align: right;
  font-weight: 700;
  text-transform: uppercase;
}

.transitionBlock {
  --transition-gap: 1.8em;
  --block-controls-offset: var(--transition-gap);
}
