.transition {
    display: block;
    padding: var(--transition-gap, 1.8em) 0;
    font-weight: 700;
    text-align: right;
    text-transform: uppercase;
}

.transitionBlock {
    --transition-gap: var(--editor-transition-gap, 1.8em);
    --block-controls-offset: var(--transition-gap);
}
