.character {
    padding-top: var(--character-gap, 1.8em);
    padding-left: var(--character-indent, 56px);
    font-weight: 700;
}

.characterBlock {
    --character-indent: calc(56px + 1em);
    --character-gap: 1.8em;
    --block-controls-offset: var(--character-gap);
}
