.character {
    padding-top: var(--character-spacing-before, 1.8em);
    padding-right: var(--character-indent-right, 0);
    padding-left: var(--character-indent, 56px);
    text-align: var(--character-align, left);
    text-transform: var(--character-casing, uppercase);
    font-weight: var(--character-font-weight, 700);
    font-style: var(--character-font-style, normal);
    text-decoration-line: var(--character-underline, none);
    line-height: var(--character-line-height, inherit);
    color: var(--color-block-character);
}

.characterBlock {
    --character-indent: var(--editor-character-indent, calc(56px + 1em));
    --character-spacing-before: var(--character-spacing-before, 1.8em);
    --block-controls-offset: var(--character-spacing-before);
}
