.root {
    overflow: auto;
    display: flex;
    flex: 1;
    flex-direction: column;
    min-height: 0;

    & .inner {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 1400px;
        margin: 0 auto;

        &.standard {
            gap: var(--space-6xl);
            padding: calc(var(--space-5xl) + var(--space-md));
        }

        &.compact {
            gap: var(--space-3xl);
            padding: calc(var(--space-5xl) + var(--space-md));
        }
    }
}
