.scene {
    padding-top: var(--scene-spacing-before, 0);
    padding-right: var(--scene-indent-right, 0);
    padding-left: var(--scene-indent-left, 0);
    font-weight: var(--scene-font-weight, 700);
    font-style: var(--scene-font-style, normal);
    line-height: var(--scene-line-height, inherit);
    color: var(--color-block-scene);
    text-align: var(--scene-align, left);
    text-decoration-line: var(--scene-underline, none);
    text-transform: var(--scene-casing, uppercase);

    &::after {
        pointer-events: none;
        content: '';
        user-select: none;
        position: absolute;
        top: calc(var(--scene-spacing-before, 0px) + (1lh - var(--scene-marker-height, 1.1em)) / 2);
        left: calc(-1 * var(--editor-margin-left, 96px));
        width: var(--scene-marker-width, 4px);
        height: var(--scene-marker-height, 1.1em);
        background: var(--color-scene-marker);
        border-radius: 0 var(--scene-marker-radius, 3px) var(--scene-marker-radius, 3px) 0;
    }

    &[data-scene-number]::before {
        pointer-events: none;
        content: attr(data-scene-number);
        user-select: none;
        display: inline-block;
        margin-right: 1ch;
        font-weight: var(--font-weight-bold);
        font-style: normal;
        color: var(--color-text-muted);
        text-decoration: none;
        text-transform: none;
        vertical-align: baseline;
    }

    &[data-scene-collapsed = 'true'] {
        padding-bottom: var(--scene-collapse-summary-space, 1.5rem);
    }
}
