.parenthetical {
    position: relative;
    padding-top: var(--parenthetical-spacing-before, 0);
    padding-right: var(--parenthetical-indent-right, 24px);
    padding-left: calc(var(--parenthetical-indent-left, 40px) + 1ch);
    font-weight: var(--parenthetical-font-weight, 400);
    font-style: var(--parenthetical-font-style, italic);
    line-height: var(--parenthetical-line-height, inherit);
    color: var(--color-block-parenthetical);
    text-align: var(--parenthetical-align, left);
    text-decoration-line: var(--parenthetical-underline, none);
    text-transform: var(--parenthetical-casing, none);

    &:has(> :global(.ProseMirror-trailingBreak:only-child))::after {
        position: absolute;
        top: var(--parenthetical-spacing-before, 0);
        left: calc(var(--parenthetical-indent-left, 40px) + 1ch);
    }

    &::before,
    &::after {
        pointer-events: none;
        user-select: none;
        color: inherit;
    }

    &::before {
        content: '(';
        position: absolute;
        left: var(--parenthetical-indent-left, 40px);
    }

    &::after {
        content: ')';
    }

    & > :global(.ProseMirror-trailingBreak:only-child) {
        pointer-events: none;
        position: absolute;
        overflow: hidden;
        width: 0;
        height: 0;
    }
}
