.lyrics {
    padding-top: var(--lyrics-spacing-before, 0);
    padding-right: var(--lyrics-indent-right, 0);
    padding-left: var(--lyrics-indent-left, 0);
    font-weight: var(--lyrics-font-weight, 400);
    font-style: var(--lyrics-font-style, italic);
    line-height: var(--lyrics-line-height, inherit);
    color: var(--color-block-lyrics);
    text-align: var(--lyrics-align, left);
    text-decoration-line: var(--lyrics-underline, none);
    text-transform: var(--lyrics-casing, none);
}
