.title {
    composes: title from './dialogForm.module.css';
}

.subtitle {
    composes: subtitle from './dialogForm.module.css';
}

.body {
    display: flex;
    flex-direction: column;
    gap: var(--space-xl);
    margin-top: var(--space-md);
}
