.form {
    composes: form from './dialogForm.module.css';
}

.label {
    composes: label from './dialogForm.module.css';
}

.input {
    composes: input from './dialogForm.module.css';
}

.shapeOptions {
    margin-top: calc(-1 * var(--space-sm));
}
