.title {
    composes: title from './dialogForm.module.css';
}

.subtitle {
    composes: subtitle from './dialogForm.module.css';
}

.actions {
    composes: actions from './dialogForm.module.css';
    margin-top: var(--space-lg);
}
