.form {
    composes: form from './dialogForm.module.css';
}

.field {
    display: flex;
    flex-direction: column;
    gap: var(--space-sm);
}

.label {
    composes: label from './dialogForm.module.css';
}

.input {
    composes: input from './dialogForm.module.css';
}
